[submodule "Code/Lib/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw
[submodule "Code/Lib/stb"]
	path = libraries/stb
	url = https://github.com/nothings/stb
[submodule "Code/Lib/freetype"]
	path = libraries/freetype
	url = https://github.com/freetype/freetype.git
[submodule "Code/Lib/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm
[submodule "Code/Lib/glad"]
	path = libraries/glad
	url = https://github.com/Dav1dde/glad
	branch = c
[submodule "Code/Lib/openal-soft"]
	path = libraries/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "Code/Lib/boost"]
	path = Code/Lib/boost
	url = https://github.com/boostorg/boost.git
