@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'AR One Sans', sans-serif;
    text-decoration: none;
	padding: 0;
	margin: 0;

    color: var(--text-color);
}

.panel { width: 100vw; height: 100vh; }
.half-panel { width: 50vw; height: 100vh; }
.animated { transition: var(--animation-time) var(--animation-curve); }
.animated2 { transition: var(--animation-time2) var(--animation-curve2); }
.animatedfast { transition: var(--animation-fast) var(--animation-curve-fast); }
.animatedfast2 { transition: var(--animation-fast2) var(--animation-curve-fast); }
.hide { overflow: hidden; }
.round { border-radius: var(--render-border); }
.flex { display: flex; }
.center { text-align: center; }
.ver_center { justify-content: center; align-items: center;}
.left { text-align: left; }
.right { text-align: right; }
.none { display: none; }
.upone { transform: translateY(-100%); }
.uptwo { transform: translateY(-200%); }
.zoom { transform: scale(5); }
.ontop { z-index: 1000; }

.PCB { background-color: var(--main-color); }
.PCC { background-color: var(--panel-color); }

.PC1 { background-color: var(--panel-color-1); }
.PC2 { background-color: var(--panel-color-2); }
.PC3 { background-color: var(--panel-color-3); }
.PC4 { background-color: var(--panel-color-4); }
.PC5 { background-color: var(--panel-color-5); }
.PC6 { background-color: var(--panel-color-6); }

#content {
    width: 300vw; height: 300vh;
    display: grid;
    grid-template-columns: auto auto auto;
}

h1 { font-size: 10vh; padding-top: 10vh;}
h2 { font-size: 7vh; }
h3 { font-size: 15vh; }
p { font-size: 3vh; margin: 11vh; color: var(--text-border)}
img { image-rendering:optimizequality; }

#rit img { height: 100vh; }

.falsa_storia {
    position: relative;
    transform: translateX(0%);
    width: 900vw;
}

.falsa_storia.active { transform: translateX(-100%); }
.falsa_storia img { height: 100vh; }

#didascalia {
    text-align: right;
    transform: translateY(-200%);    
}
#didascalia p {
    margin: 0;
    margin-right: 1vh; 
    margin-left: 1vh; 
    margin-top: 95vh; 
    padding: 0;
    mix-blend-mode: difference;
    color: var(--main-color);
}

#soleil img{
    height: 100vh;
}

#ball {
    text-align: right;
}

#ball img{
    height: 100vh;
}

#ball #didascalia {
    text-align: left;
}

#renoir {
    margin-left: 50vw;
}

#sfida img {
    height: 100%;
    padding: 5%;
}

#sfida div.ver_center {
    display: flex;
}

#sfida div.ver_center img {
    height: auto;
}

#vs {
    transform: translate3d(45vw, -210%,0);
    width: 10vw;
}

#renoir {
    text-align: right;
    direction: rtl; 
    display: block;
}

#renoir.scat .container{
    transform: translate3d(100%,0,0);
}

#monet.scat .container{
    transform: translate3d(-100%,0,0);
}

#monet {
    display: block;
}

.upleft {
    transform: translate3d(100%,-100%,0);
}

.upright {
    transform: translate3d(-100%,-100%,0);
}

.width img {
    width: 100%;
}

#monet_D_desc {
    justify-content: flex-end;
    direction: rtl; 
    align-items: center;
    transform: translateY(-100%); 
}

#monet_D_desc h2 {
    display: flex;
    height: 100vh;
    width: 1vh;
    align-items: center;
}

#serie { z-index: 999; }

#rouen { transform: translateY(-100%);
    clip-path: polygon(49.5% 50%, 0 99.5%, 0 0.5%); }

#ninfe { transform: translateY(-200%);
    clip-path: polygon(50% 50.5%,0.5% 100%, 99.5% 100%); }

#covoni { transform: translateY(-300%);
    clip-path: polygon(50.5% 50%, 100% 0.5%, 100% 99.5%); 
    text-align: right; }

#rouen.active { transform: translate3D(-100%,-100%,0); }
#ninfe.active { transform: translate3D(0,-100%,0); }
#covoni.active { transform: translate3D(100%,-300%,0); }

#rouen_panel { transform: translateX(100%); }
#ninfe_panel { transform: translateY(-100%); }
#covoni_panel { transform: translateX(-100%); text-align: right;  }

#rouen_panel.active { transform: translateX(0); }
#ninfe_panel.active { transform: translateY(0); }
#covoni_panel.active { transform: translateX(0); }

#rouen img, #covoni img, #covoni_panel img, #rouen_panel img { height: 100vh; }

#ninfe img, #ninfe_panel img {
    margin-top: 50vh; 
    width: 100vw;
}
.ninfe.hide #immagine img {
    margin-top: 10vh; 
    height: 90vh;
    width:auto;
}

.ninfe.hide #immagine, .rouen.hide #immagine, .parlamient.hide #immagine {
    width: 100vw;
    text-align: center;
}

.anim_img { transition: var(--animation-time2) var(--animation-curve2);
    transform: scale(1); }
.anim_img:hover { transform: scale(1.1);}

.active .anim_img { transform: scale(1); transition: var(--animation-time) var(--animation-curve); }

.desc {
    display: flex;
    width: 1vh;
    align-items: center;
}

.ninfe h3 {
    padding-top: 14vh; 
}

#rouen_desc {
    justify-content: flex-end;
    direction: rtl; 
    align-items: center;
    transform: translateY(-100%); 
}

#rouen_desc h2 {
    display: flex;
    height: 100vh;
    width: 1vh;
    align-items: center;
}

h1 {
     text-shadow: var(--text-border-thick-n) var(--text-border-thick) 0 var(--text-border), 
     var(--text-border-thick) var(--text-border-thick) 0 var(--text-border), 
     var(--text-border-thick) var(--text-border-thick-n) 0 var(--text-border), 
     var(--text-border-thick-n) var(--text-border-thick-n) 0 var(--text-border); 
}

h3 {
     text-shadow: var(--text-border-thick-n) var(--text-border-thick) 0 var(--text-border), 
     var(--text-border-thick) var(--text-border-thick) 0 var(--text-border), 
     var(--text-border-thick) var(--text-border-thick-n) 0 var(--text-border), 
     var(--text-border-thick-n) var(--text-border-thick-n) 0 var(--text-border); 
}

h2 {
    text-shadow: var(--text-border-thick-n) var(--text-border-thick) 0 var(--text-border), 
     var(--text-border-thick) var(--text-border-thick) 0 var(--text-border), 
     var(--text-border-thick) var(--text-border-thick-n) 0 var(--text-border), 
     var(--text-border-thick-n) var(--text-border-thick-n) 0 var(--text-border); 

    transform: translate3d(0,0,0);
}

h4 {
    margin-top: 86vh;
    padding-left: 1vh;
    padding-right: 1vh;
    font-size: 3vh;
    color: var(--text-border);
    transform: translate3d(0,0,0);
}

.covone div h4 { margin-top: 95vh; color: var(--text-color);}
.rouen div h4 { margin-top: 45vh; }

.covone div h2.inactive { transform: translateX(-100vw); }
.covone div h4.inactive { transform: translateX(-100vw)}
.rouen div h2.inactive { transform: translateX(100vw); }
.rouen div h4.inactive { transform: translateX(-100vw); }
.ninfe div h2.inactive { transform: translateY(-100vw); }
.ninfe div h4.inactive { transform: translateY(10vh)}
.parlamient div h2.inactive { transform: translateY(-100vw); }
.parlamient div h4.inactive { transform: translateY(10vh)}

#parlamient img {
    height: 100vh;
}

#parlamient.active {
    transform: translateY(-400%);
}

#crediti.active {
    transform: translateY(-500%);
}

#crediti h1 {
    text-align: center;
}

#crediti h2 {
    text-align: left;
    padding-left: 30vh;
    padding-top: 10vh;
}

#crediti ul li {
    color: white;
    text-align: right;
    padding-right: 20vh;
    font-size: 3vh;
}

#crediti #credit_scroller {
    transition: 12s cubic-bezier(.35,0,.6,1);   
    transform: translateY(30%);
}

#crediti.active #credit_scroller {
    transform: translateY(-89%);
}

#crediti #sponsor {
    text-align: center;
    height: 50vh;
    padding-left:  20vh;
}

#crediti #sponsor img {
    text-align: center;
    margin-top: 40vh; 
    height: 100%;
}

.fade {
    opacity: 0;
}
