:root {
    --render-border: 3vh;
    --main-color: black;
    --text-color: black;
    --text-border: orange;
    --text-border-thick: 2px;
    --text-border-thick-n: -2px;
    --panel-color: rgb(0, 32, 92);


    --animation-fast: 1.9s;
    --animation-fast2: .7s;
    --animation-time: 1.3s;
    --animation-time2: 6s;
    --animation-curve: cubic-bezier(1,0,.4,.65);
    --animation-curve2: cubic-bezier(.05,.78,.51,.67);
    --animation-curve-fast: cubic-bezier(0,.96,.1,1);

    --panel-color-1: rgb(0, 32, 92);
    --panel-color-2: rgb(92, 52, 0);
    --panel-color-3: rgb(92, 0, 32);
    --panel-color-4: rgb(77, 0, 92);
    --panel-color-5: rgb(179, 237, 255);
    --panel-color-6: rgb(92, 0, 43);
}
