:root {
    --render-border: 3vh;
    --main-color: black;
    --text-color: black;
    --title-border: orange;
    --text-border: #27187E;
    --text-border-thick: 0px;
    --text-border-thick-n: -2px;
    --panel-color: rgb(0, 32, 92);


    --animation-fast: .8s;
    --animation-fast2: .3s;
    --animation-time: 1.3s;
    --animation-time2: 6s;
    --animation-curve: cubic-bezier(1,0,.4,.65);
    --animation-curve2: cubic-bezier(.05,.78,.51,.67);
    --animation-curve-fast: cubic-bezier(0,.96,.1,1);

    --button-color: white;
    --a-color: #F15946;

    --panel-color-1: #4281A4;
    --panel-color-2: #48A9A6;
    --panel-color-3: #E4DFDA;
    --panel-color-4: #D4B483;
    --panel-color-5: #90BEDE;
    --panel-color-6: #758BFD;
}

* {
    box-sizing: border-box;
    font-family: 'AR One Sans', sans-serif;
	padding: 0;
	margin: 0;
    text-decoration: none;

    color: var(--text-color);
}

.panel { width: 100vw; height: 100vh; padding-bottom: 15vh; }
.half-panel { width: 50vw; height: 100vh; }
.animated { transition: var(--animation-fast) var(--animation-curve-fast); }
.hide { overflow: hidden; }
.round { border-radius: var(--render-border); }
.flex { display: flex; }
.center { text-align: center; }
.ver_center { justify-content: center; align-items: center;}
.left { text-align: left; }
.right { text-align: right; }
.none { display: none; }
.upone { transform: translateY(-100%); }
.uptwo { transform: translateY(-200%); }
.zoom { transform: scale(5); }
.ontop { z-index: 1000; }

.PCB { background-color: var(--main-color); }
.PCC { background-color: var(--panel-color); }

.PC1 { background-color: var(--panel-color-1); }
.PC2 { background-color: var(--panel-color-2); }
.PC3 { background-color: var(--panel-color-3); }
.PC4 { background-color: var(--panel-color-4); }
.PC5 { background-color: var(--panel-color-5); }
.PC6 { background-color: var(--panel-color-6); }

#button_container {
    position: fixed;
    height: 15vh;
    top: 85vh;
    display: flex;
    padding-left: 2vw;
    padding-right: 2vw;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43vw;
    margin: 5vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    background-color: var(--button-color);
}

#content {
    display: flex;
    width: 300vw;
}

h1 {
    text-align: center;
    width: 100vw;
    padding-top: 10vh;
    padding-bottom: 7vh;
    font-size: 6vh;
    width: 100vw;
    color: var(--title-border)
}

h4 {
    text-align: center;
    font-size: 6vh;
    width: 100vw;
    color: var(--title-border)
}

a {
    color: var(--a-color);
    text-shadow: var(--text-border-thick-n) var(--text-border-thick) 0 var(--text-border), 
     var(--text-border-thick) var(--text-border-thick) 0 var(--text-border), 
     var(--text-border-thick) var(--text-border-thick-n) 0 var(--text-border), 
     var(--text-border-thick-n) var(--text-border-thick-n) 0 var(--text-border); 
}

p {
    text-align: left;
    padding: 5vw;
    font-size: 2.7vh;
}

h3{
    text-align: center;
}

@media (min-aspect-ratio: 1/1) {
    #button_container { bottom: 0; padding: 0; height: 10vh; top: auto }
    .button { height: 100%; margin: 0; width: 10vh; margin-right: calc(100vw - 20vh);}
    .panel { padding: 0; }
    p {font-size: 4vh;}
    h1 {padding-bottom: 2vh;}
}

img {
    height: 7vh;
}

